body {
    background-color: rgb(255, 0, 128);
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-size: 30px;
}
#rawr{
    background-color: black;
    color: crimson;
    width: 69px;
    height: 30px;
    border: none;
    border-radius: 20px;
    
}
.emo {
    margin: 0;
    
}
#meow{
    width:  400px;
    height: 400px;
    
}
#smegma {
    width: 100%;
    height: 125px;
    background-color: lavenderblush;
}
